@charset "UTF-8";
#status {
  display: inline-block;
  height: 72px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 72px;
}
#status:before {
  position: relative;
  top: 2px;
  left: -8px;
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50px;
}
#status.green {
  color: #39c283;
}
#status.green:before {
  background: #39c283;
}
#status.red {
  color: red;
}
#status.red:before {
  background: red;
}
#status.yellow {
  color: #f9c122;
}
#status.yellow:before {
  background: #f9c122;
}
#status.blue {
  color: #00f;
}
#status.blue:before {
  background: #00f;
}
.status-menu {
  list-style: none;
}
.status-menu li a:before {
  position: relative;
  top: 1px;
  left: -6px;
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50px;
}
.status-menu li a.green:before {
  background: #39c283;
}
.status-menu li a.red:before {
  background: red;
}
.status-menu li a.yellow:before {
  background: #f9c122;
}
.status-menu li a.blue:before {
  background: #00f;
}
.status-menu li a:hover {
  background: #fff;
}
