@font-face {
	font-family:'lato-regular';
	src:url('/files/muse-static/communities/fonts/lato-regular-webfont.eot');
	src:url('/files/muse-static/communities/fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('/files/muse-static/communities/fonts/lato-regular-webfont.woff') format('woff'),
		url('/files/muse-static/communities/fonts/lato-regular-webfont.ttf') format('truetype'),
		url('/files/muse-static/communities/fonts/lato-regular-webfont.svg#lato-regular') format('svg');
	font-weight:normal !important;
	font-style:normal !important;
}

@font-face {
	font-family:'lato-bold';
	src:url('/files/muse-static/communities/fonts/lato-bol-webfont.eot');
	src:url('/files/muse-static/communities/fonts/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
		url('/files/muse-static/communities/fonts/lato-bol-webfont.woff') format('woff'),
		url('/files/muse-static/communities/fonts/lato-bol-webfont.ttf') format('truetype'),
		url('/files/muse-static/communities/fonts/lato-bol-webfont.svg#lato-regular') format('svg');
	font-weight:normal !important;
	font-style:normal !important;
}
